:root{
    --body:#E5E5E5;
    --principal-color:#0A3871;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body);
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}

header img{
    margin:15px 0 0 15px; 
}

.buttons{
    display: grid;
    padding: 100px;
    height: 90vh;
    align-content: center;
    justify-content: center;
}

.buttons button{
    height: 10vh;
    width: 45vw;
    margin: 10px;
    font-size: 25px;
    border-radius: 30px;
    border: 2px solid var(--principal-color);  
    transition: 1s;
}

.buttons button:hover{
    transform: scale(110%);
}

.buttons .start{
    background: var(--principal-color);
}

.buttons .start {
    color: white;
    cursor: pointer;
}

.buttons .add-word {
    color: var(--principal-color);
    cursor: pointer;
}

/* Aquí comienza los estilos de addWord.html*/
.text{
    margin: 0 0 40px 0;
    display: none;
}
.text textarea{
    margin: 30px auto 5px;
    display: block;
    width: 80%;
    height: 60vh;
    border: none;
    background: var(--body);
    font-size: 30px;
    color: var(--principal-color);
    font-family: 'Inter', sans-serif;
}


.save-cancel{
    height: 0;
    display: none;
}

.text small{
    margin: 10%;
}

::placeholder{
    font-size: 30px;
    color: #0b376dc4;
    font-family: 'Inter', sans-serif;
}

/* Aquí comienza los estilos para empezar el juego*/
.draw-zone{
    display:grid;
    justify-content: center;
}
canvas{
    display: none;
    max-width: 500px;
    height: 50vh;
    min-width: 200px;
    margin: 20px 0 20px 0;
}
.buttons-start{
    display: none;
}
